<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="social.laika.app" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name='android.permission.WAKE_LOCK'/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission android:name="social.laika.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="social.laika.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/laika_logo"
        android:theme="@style/LaikaTheme" >
        <activity
            android:name=".wasted.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="social.laika.app.activities.MainActivity"
            android:label="@string/main_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.LoginActivity"
            android:label="@string/main_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.RegisterActivity"
            android:label="@string/main_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wasted.GPlusSignInActivity"
            android:exported="false"
            android:label="@string/log_in_activity_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wasted.MapActivity"
            android:label="Veterinarias" >
        </activity>
        <activity
            android:name=".wasted.MapHairActivity"
            android:label="Peliquerías" >
        </activity>

        <!-- Activities de Laika -->

        <activity
            android:name="social.laika.app.activities.AdoptDogFormActivity"
            android:exported="false"
            android:label="@string/adopt_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.AdoptDogUserFormActivity"
            android:exported="false"
            android:label="@string/adopt_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.AdoptDogsFragmentActivity"
            android:exported="false"
            android:label="@string/adopt_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.PostulatedDogsFragmentActivity"
            android:exported="false"
            android:label="@string/adopt_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.AdoptDogSuccessActivity"
            android:exported="false"
            android:label="@string/adopt_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.CreateDogActivity"
            android:exported="false"
            android:label="@string/new_dog_register_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.EditDogActivity"
            android:exported="false"
            android:label="@string/edit_dog_register_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.EditUserActivity"
            android:exported="false"
            android:label="@string/edit_user_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.UserProfileActivity"
            android:exported="false"
            android:label="@string/edit_user_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.CreateReminderActivity"
            android:exported="false"
            android:label="@string/create_reminder_my_dog"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.VetVisitActivity"
            android:exported="false"
            android:label="@string/vet_visit_my_dog"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.CreateVetVisitActivity"
            android:exported="false"
            android:label="@string/create_vet_visit_my_dog"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.MyDogsActivity"
            android:exported="false"
            android:label="@string/my_dog_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.HealthDogActivity"
            android:exported="false"
            android:label="@string/my_dog_health_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.PublicationsActivity"
            android:exported="false"
            android:label="@string/news_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wasted.PublicationsFragmentActivity"
            android:exported="false"
            android:label="@string/news_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.PhotosFragmentActivity"
            android:exported="false"
            android:label="@string/photos_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.WebActivity"
            android:exported="false"
            android:label="@string/news_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.TipsActivity"
            android:exported="false"
            android:label="@string/tips_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.TutorialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.EventsActivity"
            android:exported="false"
            android:label="@string/events_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.StoriesActivity"
            android:exported="false"
            android:label="@string/stories_fragment_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="social.laika.app.activities.CreateStoryActivity"
            android:exported="false"
            android:label="@string/create_story_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wasted.StoriesFragmentActivity"
            android:exported="false"
            android:label="@string/stories_fragment_activity_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
        android:name="social.laika.app.activities.StopAlarmActivity"
        android:exported="false"
        android:label="@string/stories_fragment_activity_name"
        android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
        android:name="social.laika.app.utils.camera.CameraActivity"
        android:exported="false"
        android:label="@string/camera"
        android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />


        <!-- ########### SERVICES ########### -->

        <!-- Alarm & Calendar Receiver -->
        <receiver android:name=".utils.AlarmReceiver">
        </receiver>

        <!-- GCM -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="social.laika.app" />
            </intent-filter>
        </receiver>
        <service
            android:name="social.laika.app.network.gcm.LaikaGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="social.laika.app.network.gcm.LaikaIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <!-- SyncAdapter -->

        <service
            android:name="social.laika.app.network.gcm.LaikaRegistrationIntentService"
            android:exported="false">
        </service>

        <service android:name=".network.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name=".network.account.AccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="social.laika.app"
            android:syncable="true"
            android:label="Mis Perros" />

        <!-- ################################ -->

        <meta-data
            android:name="AA_DB_NAME"
            android:value="AndroidInit.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />

        <!-- [AI] [G+] agregar la metadata de la base de datos -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCP25kj5jYDw_8Sy7gYijj3CnMliaAYKpw" />

        <!-- BEGIN Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <!-- END Facebook -->
    </application>
</manifest>
